.NewPassword{
  width: 456px;
  display: grid;
  justify-items: center;

  .content{
    font-size: 16px;
    color: var(--gray-100);
    padding: 8px 0 38px;
  }

  .wrapper{
    width: 100%;
    display: grid;
    gap: 30px;
  }
}