.CheckEmail{
  width: 456px;
  display: grid;
  justify-items: center;

  .input-wrapper {
    padding: 40px 0;
    width: 100%;
    display: grid;
    gap: 26px;

    .birth-day{
      display: grid;
      gap: 7px;
      .title{
        font-size: 14px;
      }

      .wrapper{
        width: 100%;
        display: flex;
        gap: 35px;

        .select{
          display: flex;
          align-items: center;
          gap: 5px;

          &:first-child{
            flex: 1.5;
          }
          &:nth-child(2){
            flex: 1;
          }
          &:nth-child(3){
            flex: 1;
          }
        }
      }
    }

    .area{
      display: grid;

      .title{
        font-size: 14px;
      }
      .wrapper{
        display: flex;
        gap: 8px;
      }
    }
  }
}