.CheckNumber{
  width: 456px;
  display: grid;
  justify-items: center;

  .input-wrapper{
    padding: 43px 0 39px;
    display: grid;
    grid-template-columns: 310px 135px;
    gap: 10px
  }

  .button-wrapper{
    display: grid;
    grid-template-columns: 115px 330px;
    gap: 10px
  }

  .explain{
    width: 100%;
    text-align: left;
    padding: 13px 0 30px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #AFAFAF;

    .notice{
      color: #6874E1;
      cursor: pointer;
    }
  }
}