:root {
  --black-100: #000;
  --white: #FFF;
  --dark-gray-100: #515151;
  --sea-salt-gray-100: #AFAFAF;
  --blue-100: #0000FF;
  --white-blue-100: #6874E1;
  --green-100: #06BE34;
  --red-100: #FF3636;
}