.Button{
  width: 100%;
  padding: 24px 0;
  background-color: #0000FF;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
}