.BaseData{
  width: 456px;
  display: grid;
  justify-items: center;

  .input-wrapper {
    padding-top: 40px;
    width: 100%;
    display: grid;
    gap: 30px;
  }

  .button-wrapper{
    padding-top: 32px;
    display: grid;
    grid-template-columns: 115px 330px;
    gap: 10px
  }

  .explain{
    width: 100%;
    text-align: left;
    padding: 13px 0 30px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #AFAFAF;

    .notice{
      color: #6874E1;
      cursor: pointer;
    }
  }

  .horizon{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #AFAFAF;
    line-height: 0.1em;
    margin: 10px 0;

    .text{
      font-size: 10px;
      background: var(--white);
      padding: 0 10px;
      color: #AFAFAF;
    }
  }

  .social{
    width: 100%;
    padding-top: 20px;
    display: grid;
    gap: 13px;

    .social-register{
      position: relative;
      text-align: center;
      padding: 20px 0;
      border: 1px solid #515151;
      border-radius: 10px;
      cursor: pointer;

      .icon{
        position: absolute;
        left: 12px;
        top: 12px;
      }
    }
  }
}